<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="../static/css/material.min.css" />
		<script src="../static/js/material.min.js"></script>

		<link rel="stylesheet" href="../static/css/getmdl-select.min.css">
		<script src="../static/js/getmdl-select.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

		<link rel="stylesheet" href="../static/css/mdDateTimePicker.min.css">

		<script src="../static/js/jquery-3.3.1.min.js" "></script>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium">

		<!--Load the AJAX API-->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">

			// Load the Visualization API and the corechart package.
			google.charts.load('current', {'packages':['corechart']});

			// Set a callback to run when the Google Visualization API is loaded.
			google.charts.setOnLoadCallback(drawChart1);
			google.charts.setOnLoadCallback(drawChart2);
			google.charts.setOnLoadCallback(drawChart3);
			google.charts.setOnLoadCallback(drawChart4);

			// Callback that creates and populates a data table,
			// instantiates the pie chart, passes in the data and
			// draws it.
			function drawChart1() {
				
				// Create the data table.
				var data = new google.visualization.DataTable();
				
				data.addColumn('string', 'Call Type');
				data.addColumn('number', 'Number of Incidents');
				data.addRows([
						{% for key, value in callTypeCounts.items() %}
							['{{ key }}', {{ value }}],
						{% endfor %}
					]);
				
				// Set chart options
				var options = {
					'legend': 'bottom',
					'pieSliceText': 'label',
					'pieStartAngle': 100,
					'sliceVisibilityThreshold': 0.00001
				};
				
				// Instantiate and draw our chart, passing in some options.
				var chart1 = new google.visualization.PieChart(document.getElementById('chart1_div'));
				chart1.draw(data, options);
			}

			function drawChart2() {
				
				// Create the data table.
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Activity')
				{% for key, value in timeDiffs.items() %}
					data.addColumn('number', '{{ key }}');
				{% endfor %}

				data.addRow([''{% for key, value in timeDiffs.items() %}, {{ (value|sum(start=timedelta()) / value|length).total_seconds()/60 }}{% endfor %}]);

				// Set chart options
				var options = {
					'isStacked': true,
					'vAxis': {
						'gridlines': {'count': 11},
						'title': 'Time (minutes)'
					},
					'legend': 'bottom'
				};
				
				// Instantiate and draw our chart, passing in some options.
				var chart2 = new google.visualization.ColumnChart(document.getElementById('chart2_div'));
				chart2.draw(data, options);
			}

			function drawChart3() {
				
				// Create the data table.
				var data = new google.visualization.DataTable();
				
				data.addColumn('date', 'Watch Date');
				data.addColumn('number', 'Number of Calls');
				data.addRows([
						{% for key, value in watchDateCount|dictsort() %}
							[new Date('{{ key }} PST'), {{ value }}],
						{% endfor %}
					]);
				
				// Set chart options
				var options = {
					'legend': 'bottom'
				};
				
				// Instantiate and draw our chart, passing in some options.
				var chart3 = new google.visualization.LineChart(document.getElementById('chart3_div'));
				chart3.draw(data, options);
			}

			function drawChart4() {
				
				// Create the data table.
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Zip Code')
				data.addColumn('number', 'Time (minutes)');

				data.addRows([
						{% for i in range(4) %}
							['{{ zipCodeTops[i][0] }}', {{ zipCodeTops[i][1] }}],
						{% endfor %}
					]);

				// Set chart options
				var options = {
					'legend': 'bottom'
				};
				
				// Instantiate and draw our chart, passing in some options.
				var chart4 = new google.visualization.BarChart(document.getElementById('chart4_div'));
				chart4.draw(data, options);
			}

			$(window).resize(function(){
				drawChart1();
				drawChart2();
				drawChart3();
				drawChart4();
			});
		</script>
	</head>
	<body>
		<!-- Always shows a header, even in smaller screens. -->
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
			    <div class="mdl-layout__header-row">
			        <!-- Title -->
			        <span class="mdl-layout-title">SFPD Dispatch</span>
			        <!-- Add spacer, to align navigation to the right -->
			        <div class="mdl-layout-spacer"></div>
			        <!-- Navigation. We hide it in small screens. -->
			        <nav class="mdl-navigation mdl-layout--large-screen-only">
			        	<a class="mdl-navigation__link" href="#intro">Intro</a>
			        	<a class="mdl-navigation__link" href="#interesting-metrics">Interesting Metrics</a>
			        	<a class="mdl-navigation__link" href="#dispatch-predictor">Dispatch Predictor</a>
			        	<a class="mdl-navigation__link" href="#longest-times">Longest Times</a>
			        </nav>
			    </div>
			</header>
			<div class="mdl-layout__drawer">
			    <span class="mdl-layout-title">Contents</span>
			    <nav class="mdl-navigation">
			        <a class="mdl-navigation__link" href="#intro">Intro</a>
		        	<a class="mdl-navigation__link" href="#interesting-metrics">Interesting Metrics</a>
		        	<a class="mdl-navigation__link" href="#dispatch-predictor">Dispatch Predictor</a>
		        	<a class="mdl-navigation__link" href="#longest-times">Longest Times</a>
			    </nav>
			</div>
			<main class="mdl-layout__content">
				<div class="page-content">
					<div class="mdl-grid" id="intro">
						<div class="mdl-cell mdl-cell--12-col">
							<div class="mdl-card mdl-shadow--16dp">
								<div class="mdl-card__title">
									<h2 class="mdl-card__title-text">Introduction</h2>
								</div>
								<div class="mdl-card__supporting-text">
									Welcome to SFPD Dispatch: Predictor and Analyzer! This web app was created as part of the Capital One Software Engineering Summit MindSumo Challenge for Spring 2018. It uses public dispatch data from the San Francisco Fire Department to display various interesting metrics and trends and to predict at a given location and time what dispatch units are most likely to be needed. 
								</div>
							</div>
						</div>
					</div>
					<div class="mdl-grid" id="interesting-metrics">
						<div class="mdl-cell mdl-cell--4-col">
							<div class="mdl-card mdl-shadow--16dp stats">
								<div class="mdl-card__title">
									<h2 class="mdl-card__title-text">Distribution of Call Types</h2>
								</div>
								<div class="mdl-card__supporting-text">
									<div id="chart1_div" style="width: 100%; height: 300px"></div>
								</div>
								<div class="mdl-card__actions mdl-card--border">
									<p>This graph shows that medical incidents overwhelmingly account for the majority of calls coming in to the emergency call center. In addition, while there are over a dozen call types, only a handful seem to occur on a regular basis.</p>
								</div>
							</div>
						</div>
						<div class="mdl-cell mdl-cell--4-col">
							<div class="mdl-card mdl-shadow--16dp stats">
								<div class="mdl-card__title">
									<h2 class="mdl-card__title-text">Average Response Time</h2>
								</div>
								<div class="mdl-card__supporting-text">
									<div id="chart2_div" style="width: 100%; height: 300px"></div>
								</div>
								<div class="mdl-card__actions mdl-card--border">
									<p>Above is a stacked column chart that displays the average response time of each task involved in sending out a unit to an incident. Only when data was relevant from a particular call type was it included with a particular activity shown above. It was particularly suprising how long incidents that required travel to the hospital took on average.</p>
								</div>
							</div>
						</div>
						<div class="mdl-cell mdl-cell--4-col">
							<div class="mdl-card mdl-shadow--16dp stats">
								<div class="mdl-card__title">
									<h2 class="mdl-card__title-text">Calls Volume Over Time</h2>
								</div>
								<div class="mdl-card__supporting-text">
									<div id="chart3_div" style="width: 100%; height: 300px"></div>
								</div>
								<div class="mdl-card__actions mdl-card--border">
									<p>Above is a line graph that shows how call volume has changed on a day to day basis. While it may seem there is a sudden spike on the first day, I do not believe this is significant because collection of the data only started towards the end of the day. This could also be applied to the last day, but to a lesser extent. In general, while there is some variance in call volume, it mostly seems to be relatively stable, with a cycle of some increased and decreased volumes.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="mdl-grid" id="dispatch-predictor">
						<div class="mdl-cell mdl-cell--12-col">
							<div class="mdl-card mdl-shadow--16dp">
								<div class="mdl-card__title">
									<h2 class="mdl-card__title-text">Most Likely Dispatch Prediction</h2>
								</div>
								<div class="mdl-card__supporting-text">
									<form action="#">
										<div class="mdl-textfield mdl-js-textfield" id="address-field">
											<input class="mdl-textfield__input" type="text" id="address" placeholder="Search for an address.">
											<label class="mdl-textfield__label"></label>
											<script>
												var placeSearch, autocomplete;

												function initAutocomplete() {
													var defaultBounds = new google.maps.LatLngBounds(
														new google.maps.LatLng(37.696893, -122.531072),
														new google.maps.LatLng(37.850971, -122.356148));

													var input = document.getElementById('address');
													var options = {
														bounds: defaultBounds,
													};
													autocomplete = new google.maps.places.Autocomplete(input, options);
													autocomplete.setOptions({strictBounds: true})
												}
											</script>
											<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7jKuqDrsirrblx-9eM3mY86rAMjkXNUQ&libraries=places&callback=initAutocomplete" async defer></script>
										</div>
										<div class="mdl-textfield mdl-js-textfield" id="time-field">
											<input class="mdl-textfield__input" type="text" id="time" placeholder="Select a time." readOnly="readOnly">
											<label class="mdl-textfield__label"></label>
											<script src="../static/js/moment.min.js"></script>
											<script src="../static/js/scroll-into-view-if-needed.min.js"></script>
											<script src="../static/js/draggabilly.pkgd.min.js"></script>
											<script src="../static/js/mdDateTimePicker.min.js"></script>

											<script type="text/javascript">
												(function() {
													var b = new mdDateTimePicker.default({
														type: 'time',
														orientation: 'PORTRAIT',
														trigger: document.getElementById("time")
													});
													document.getElementById('time').addEventListener('click', function() {
														b.toggle();
														b.time = moment();
													});
													document.getElementById('time').addEventListener('onOk', function() {
														this.value = b.time.format("h:mm A");
													});
												}).call(this);
											</script>
										</div>
									</form>
								</div>
								<div class="mdl-card__actions mdl-card--border" id="prediction-div">
									<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="calculate" href="javascript:predict();">Calculate</a>
									<span id="prediction-display">
										<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" id="predict-load"></div>
										<p id="prediction-text">PREDICTION: ----- </p>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<div class="mdl-card mdl-shadow--16dp">
								<div class="mdl-card__title">
									<h2 class="mdl-card__title-text">Areas that Have Longest Dispatch Times</h2>
								</div>
								<div class="mdl-card__supporting-text">
									<div id="chart4_div" style="width: 100%; height: 400px"></div>
								</div>
								<div class="mdl-card__actions mdl-card--border">
									<p>In this graph, the average time in minutes for a dispatch unit to get on site after being assigned to and accepting an incident is shown. The top 3 bars represent the zip codes that take the longest for emergency personnel to reach. The average time for all location in San Francisco is provided below that. It is evident that the top location takes nearly twice as long to reach over the average time. To mitigate the longer times, it is recommended that the government expand the locations of police and fire stations, as well as assign additional units to these areas.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="https://github.com/SahilMayenkar/sfpd-dispatch" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--white">View Source Code</a>
				</div>
				<footer class="mdl-mini-footer">
					<div class="mdl-mini-footer__left-section">
						© Sahil Mayenkar 2018 • All rights reserved.
					</div>
					<div class="mdl-mini-footer__right-section">
						Made with ❤ for the Capital One Software Engineering Summit Challenge 
					</div>
				</footer>
			</main>
		</div>
		<script>
			function predict() {
				document.getElementById('predict-load').style.display = 'block';
				document.getElementById('prediction-text').style.display = 'none';
				var location = autocomplete.getPlace().geometry.location;
				$.post('/predict', {
					'latitude': location.lat(),
					'longitude': location.lng(),
					'time': $('#time').val()
				}).done(function(response) {
					document.getElementById('predict-load').style.display = 'none';
					document.getElementById('prediction-text').style.display = 'block';
					$('#prediction-text').text('PREDICTION: ' + response['text']);
				}).fail(function() {
					document.getElementById('predict-load').style.display = 'none';
					document.getElementById('prediction-text').style.display = 'block';
					$('#prediction-text').text('Sorry! An unexpected error has occurred.');
				});
			}
		</script>
	</body>
</html>